*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
.big{
	width: 1450px;
	height: auto;
	/*border: 1px solid red;*/
	margin: 110px auto;
}
.user_top{
	width: 100%;
	height: 400px;
	margin: 0px auto;
	background-color: white;
	border-radius: 10px;
	position: relative;
}
    .user_top > img {
        width:100%;
        height:50%;
        position:absolute;
        left:0;
        top:0;
    }
.user_bot1,.user_bot2,.user_bot3{
	width: 100%;
	margin: 25px auto;
	background-color: white;
	border-radius: 10px;
}
.user_bot1{
	height: auto;
}
.user_bot2{
	height: 600px;
	display: none;
}
.user_bot3{
	height: 600px;
	display: none;
}
.user--top_div1{
	width: 100%;
	height: 210px;
	position: absolute;
	top: 35%;
	position: relative;
}
.user_img img {
    width:100%;
    height:100%;
}
.user_img{
	width: 200px;
	height: 200px;
	border: 5px solid white;
	margin-left: 60px;
	border-radius: 6px;
	overflow: hidden;
	float: left;
	color: white;
	cursor: pointer;
}
.user_img>div{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	text-align: center;
	color: white;
	line-height: 200px;
	font-size: 1.4em;
	display: none;
}
.file {
    width:600px;
    height:400px;
    position:fixed;
    left:40%;
    top:30%;
    z-index:10;
    background-color:black;
    opacity:0.8;
    border-radius:6px;
    text-align:center;
    line-height:200px;
    display:none;
}
.fileupload {
    margin-top:100px;
    margin-bottom:20px;
}
.file_but {
    width:200px;
    height:40px;
    font-size:1.3em;
    display:block;
    margin-left:200px;
    margin-bottom:20px;
}
.style3{
	background-color: black;
	opacity: 0.5;
}
.user_img img{
	border-radius: 6px;
}
.user_name{
	width: 300px;
	height: 100%;
	color: black;
	font-size: 2em;
	font-weight: bold;
	float: left;
	text-align: left;
	line-height: 220px;
	margin-left: 20px;
	position: relative;
}
.span_2{
	display: inline-block;
	line-height: 20px;
	color: lightgrey;
	font-size: 0.5em;
	position: absolute;
	left: 0;
	bottom: 10px;
	transition: all 0.4s;
}
/*查看资料浮动效果*/
.span_2:hover{
	cursor: pointer;
	color: black;
	transform: scale(1.1,1.1);
	transition: all 0.4s;
}
.user_xz{
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 3px solid #5594D3;
	float: right;
	position: absolute;
	right: 40px;
	bottom: 20px;
	color: #5594D3;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.2em;
	transition: all 0.4s;
}
/*编辑个人资料浮动效果*/
.user_xz:hover{
	cursor: pointer;
	transform: scale(1.1,1.1);
	transition: all 0.4s;
}
/*用户的动态*/
.bot1_top{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid lightgray;
}
.bot1_top_div1,.bot1_top_div2{
	height: 97%;
	width: 110px;
	text-align: center;
	line-height: 80px;
	font-size: 1.6em;
	float: left;
	margin-left: 60px;
	cursor: pointer;
}
.bot1_top_div2{
	border-bottom: none;
	color: lightgrey;
}
.bot1_bot2{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
/*我的动态div*/
.bot1_bot1{
	width: 90%;
	margin: 60px auto;
	border-bottom: 1px solid lightgray;
	border: 1px solid lightgray;
    transition:all 0.4s;
    border-radius:6px;
}
.bot1_bot1:hover {
    background-color:lightgray;
    transform:translate(-10px,-10px);
    box-shadow:0px 5px 6px 4px gray;
    transition:all 0.4s;
}
.bot1_bot2{
	display: none;
    overflow:hidden;
}
/*文字内容*/
.dt_nr,.dt_img{
	width: 93%;
	height: auto;
	margin: 20px auto;
	max-height: 300px;
}
.dt_nr{
	width: 100%;
	max-height: 80px;
	margin: 0px auto;
	font-size: 1.4em;
	line-height: 40px;
	overflow: hidden;
	border-bottom: 1px solid lightgray;
	text-indent: 2em;
}
/*评论点赞内容*/
.dt_sel{
	width: 100%;
	height: 40px;
	margin: 0px auto;
	border-top: 1px dashed lightgray;
	line-height: 40px;
}
.dt_pl,.dt_dc,.dt_dz{
	width: 40px;
	height: 40px;
	float: right;
	margin: 0px 20px;
	font-size: 1.6em;
	text-align: center;
}
.pl_span,.dc_span,.dz_span{
	font-size: 0.5em;
}
/*个性字体*/
/*点赞*/
.dt_dz:before{
	font-family:Glyphicons;
	content:"\f3c6";
}
/*点踩*/
.dt_dc:before{
	font-family:Glyphicons;
	content:"\f4d7";
}
/*评论*/
.dt_pl:before{
	font-family:Glyphicons;
	content:"\f11d";
}
.dt_img img{
	width: auto;
	height: auto;
	max-width: 350px;
	margin-right: 20px;           /*动态下面的图片*/
}
/*底部提示*/
.dt_bot{
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 1.6em;
	color: gray;
	border-top: 1px solid lightgray;
}
/*更改样式*/
.style2{
	border-bottom: 3px solid dodgerblue;
	color: black;
}
/*用户个人详细信息*/
.user_bot2 ul{
	display: inline-block;
	width: 400px;
	height: auto;
	margin-left:80px;
}
.user_bot2 ul li{
	height: 60px;
	width: 400px;
	line-height: 60px;
	text-align: left;
	font-size: 1.6em;
	margin: 30px 0px;
	border-bottom: 1px solid lightgray;
}
.user--bot2_right{
	width: 780px;
	height: 100%;
	float: right;
}
.right_div{
	width: 100%;
	height: 300px;
}
.mygz,.gzmy{
	width: 45%;
	height:80%;
	float: left;
	border: 6px solid lightgrey;
	font-size: 2.3em;
	text-align: center;
	line-height: 100px;
	margin: 30px 10px;
	border-radius: 5px;
}
.span_3{
	color: grey;
}
.mydt,.mypl{
	width: 94%;
	height: 80px;
	margin: 28px 10px;
	line-height: 80px;
	font-size: 2.3em;
	border: 6px solid lightgrey;
	border-radius: 5px;
	text-align: center;
}
.tab{
	width:1000px;
	height:100%;
	font-size: 1.4em;
	text-align: left;
	margin: 0px auto;
}
.txt{
	width: 280px;
	height: 40px;
	font-size: 0.9em;
	border-radius:6px ;
	border: 1px solid lightgray;
}
.tab_td{
	width: 100%;
	height: 180px;
	text-align: center;
}
.btn{
	width: 400px;
	height: 60px;
	font-size: 1.3em;
	background-color: dodgerblue;
	border-radius: 10px;
	border: none;
}
/*我的评论*/
.mypl_link {
    width:100%;
    height:auto;
    display:block;
    color:black;
    transition:all 0.6s;
}
    .mypl_link:hover {
        background-color:lightgray;
        transform:scale(0.9,0.9);
        transition:all 0.6s;
        border-radius:5px;
    }
.my_pl {
    width:95%;
    height:auto;
    border:1px solid lightgray;
    border-radius:5px;
    margin:20px auto;
    text-indent:2em;
}
.mypl_top {
    width:100%;
    height:60px;
    line-height:60px;
    font-size:1.4em;
    border-bottom:1px solid lightgray;
}
.mypl_bot {
    width:100%;
    height:auto;
    min-height:100px;
    line-height:60px;
    font-size:1.4em;
}
.pl_sel {
    width:auto;
    height:100%;
    line-height:60px;
    float:right;
    margin-right:80px;
}
    .pl_sel div span {
        font-size:0.7em;
    }


